<header>
<a href="/">
	<div class="header">
		<h1 class="title">BananPAJ AB</h1>
		<img class="logo" src="/images/banan_pi.svg" alt="Pi gjort av bananer">
	</div>
</a>
<nav>

	{% for menu in site.data.navigation[page.lang] %}
			<a href="{{ menu[1].url }}">{{ menu[1].title }}</a>
	{% endfor %}
	</nav>
	{% assign posts=site.posts | where:"date", page.date | sort: 'path' %}{% for post in posts %}
	          <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>{% endfor %}
	</header>
