<header>
<a href="{{ site.data.navigation[page.lang].home.url }}">
	<div class="header">
		<h1 class="title">BananPAJ AB</h1>
		<img class="logo" src="/images/banan_pi.svg" alt="Pi gjort av bananer">
	</div>
</a>
<nav>
			<a href="{{ site.data.navigation[page.lang].about.url }}" 
        {% if site.data.navigation[page.lang].about.url == page.url %}class="active"{% endif %}>{{ site.data.navigation[page.lang].about.title }}</a>
			<a href="{{ site.data.navigation[page.lang].contact.url }}"
        {% if site.data.navigation[page.lang].contact.url == page.url %}class="active"{% endif %}>{{ site.data.navigation[page.lang].contact.title }}</a>
			<div class="navlang">
				<a href="{{ site.data.navigation[page.lang].blog.url }}"
          {% if site.data.navigation[page.lang].blog.url == page.url %}class="active"{% endif %}>{{ site.data.navigation[page.lang].blog.title }}</a>
				<div class="language">
            {% for p in site.posts %}
              {% if p.date == page.date %}
                  {% if p.lang == page.lang %}
                      <a href="{{ p.url }}" class="active {{ p.lang }}">{{ p.lang }}</a>
                  {% else %}
                      <a href="{{ p.url }}" class="{{ p.lang }}">{{ p.lang }}</a>
                  {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
</nav>
</header>
